header {
    height: 100vh;
    background-image: url("/assets/images/noski.jpg");
    /* flex-box thing */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
    margin-bottom: 30px;
    color: #fff;
    font-family: monospace;
}

* {
    margin: 0px;
    padding: 0px;
}

.words {
    background-color: rgba(211, 211, 211, 0.4);
    padding: 20px;
}

.appointment {
    /* height: 100vh; */
    background-image: url("/assets/images/cuts.jpg");
    /* flex-box thing */
    display: flex;
    flex-direction: column;
    align-items: right;
    justify-content: right;
    background-size: cover;
    margin: 0px;
}

.ap {
    /* opacity: 0.8; */
    color: black;
    background-color: rgba(211, 211, 211, 0.3);
}