header {
    height: 100vh;
    background-image: url("/assets/images/noski.jpg");
    /* flex-box thing */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
    margin-bottom: 30px;
    color: #fff;
    font-family: monospace;
}

* {
    margin: 0px;
    padding: 0px;
}

.words {
    background-color: rgba(136, 168, 173, 0.4);
    padding: 20px;
}

.aappointment {
    height: 100vh;
    background-image: url("/assets/images/obi.jpg");
    /* flex-box thing */
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    background-size: cover;
}